
.top-padding {
	margin-top: 120x;
}

.left-padding {
	margin-left: 0px;
}

.trans {
	opacity: .7;
	filter:alpha(opacity=70);
}

.leftOverlay {
	position: absolute;
	bottom: 375px;
	left: 30px;
}

.rightOverlay {
	position: absolute;
	bottom: 450px;
	right: 30px;
}

.orangeText {
	color: orange;
}

.lightText {
	color: white;
}

.textOverlay {
	position: absolute;
	bottom: 650px;
	right: 150px;
}

.span-page {
	width: 100%;
	z-index: 0;
	background-size: cover;
}