dependency-reduced-pom.xml
logs
target
*.class
*.iml

nb-configuration.xml

# Package Files #
*.jar
*.war
*.ear
/pom.xml
*.prefs
dg-rest/.settings/org.eclipse.wst.common.project.facet.core.xml
dg-rest/.settings/org.eclipse.wst.common.project.facet.core.prefs.xml
dg-rest/.settings/org.eclipse.wst.common.project.facet.core.xml
