<form class="form-inline" role="form">
    <div class="form-group">
        <label>Assign Entry:</label>
    </div>
    <div class="form-group">
        <input type="text" class="form-control" ng-model="name" placeholder="Name">
    </div>
    <div class="checkbox">
        <input type="text" class="form-control" ng-model="expression" placeholder="Expression">
    </div>
    <button type="button" class="btn btn-default" ng-click="newEntry()">Add</button>
    <button type="button" class="glyphicon glyphicon-remove" style="float:right;" ng-click="removeState({key:state})"></button>
</form>